body {
    font-family: Verdana, sans-serif;
    font-size: 0.75em;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h3:before, h3:after {
    content: '';
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url(../imgs/G.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h3:before {
    margin-right: 0.3em;
}

h3:after {
    margin-left: 0.3em;
}
body > header, body > aside, body > footer {
    background-color: #111111; /* black; */
    color: #eeeeee; /* white; */
}

body > header {
    padding: 1em;
    text-align: center;
}

body > header h1 {
    margin-top: 0;
    text-align: center;
}

body > header h2, 
body > header h3, 
body > header h4, 
body > header h5, 
body > header h6 {
    display: inline-block;
}

body > header h6 {
    margin-bottom: 0;
}

body > nav {
    background-color: #4e4e4e;
}

body > nav ul {
    margin: 0;
    padding-left: 0;
    text-align: center;
}

body > nav li {
    display: inline-block;
}

body > nav a {
    display: inline-block;
    padding: 0.5em;
    margin: 0 1em;
    color: #eeeeee;
}

body > nav a:hover {
    color: #4e4e4e;
    background-color: #eeeeee;
    text-decoration: none;
}

main {
    padding: 1em;
}

main > article > h2:first-child {
    margin-top: 0;
}

main p {
    line-height: 1.5em;
    text-align: justify;
}

dt, dd {
    margin: 0.5em 0;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ':';
}

dd {
    margin-left: 0;
}

dd:before {
    content: '->'
}

#imagenes img {
    width: 100%;
}

figure {
    border: 2px solid #4e4e4e;
    padding: 1em;;
    border-radius: 4px;
}

figcaption {
    text-align: right;
    font-size: 0.75em;
    color: #4e4e4e;
}
aside li {
    list-style: none;
}
